.playerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 50px;
}
.playButton{
    border-radius: 50%;
    background-color: white;
    color: #121212;
    font-family: Poppins;
    font-weight: 600;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster{
    height: 40px;
    width: 40px;
    border-radius: 40%;
    position: absolute;
    top: 5px;
    left: 20px;
}
.Waveposter{
    height: 40px;
    width: 60px;
    border-radius: 40%;
    position: absolute;
    top: 5px;
    right: 20px; 
}
.tobeFixed{
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    background-color: #121212;
    padding: 10px 0px;
}
.rangeDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    color: #ffffff;
    font-family: Poppins;
    font-weight: 600;
}