.hero {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px;
}
.heroText{
color: #FFFFFF;
font-family: Poppins;
font-weight: 600;
font-size: 32px;
font-style: SemiBold;
}

@media (max-width: 640px) {
  .hero{
    flex-wrap: wrap;
  }
}