.FAQdiv{
    padding: 0px 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    /* max-width: 100%; */
}

.FAQdiv > h1{
display: inline;
margin: 16px;
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 50px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #00000040;
}

.eachQuestion{
    margin-bottom: 16px;
}