.songsSection{
   padding: 16px;
   max-width: 100%;
}

.title{
font-family: Poppins;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
}

.titleDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.gridDiv{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px 10px;
    width: 100%;
}

@media (max-width: 768px){
   .gridDiv{
    grid-template-columns: repeat(4, 1fr);
    } 
}
@media (max-width: 640px){
   .gridDiv{
    grid-template-columns: repeat(3, 1fr);
   }
} 
@media (max-width: 450px){
   .gridDiv{
    grid-template-columns: repeat(2, 1fr);
   }
}